# Sample OpenOCD configuration for the STM32F3DISCOVERY development board


source [find interface/stlink.cfg]

transport select swd

source [find target/stm32f3x.cfg]

proc init_reset { mode } {
    puts "resetting"

    rtt server stop 5555

    # found the _SEGGER_RTT section using nm -S
    #rtt setup 0x20000008 0x30
    #rtt setup 0x20000190 0x30

    # or just brute force it
    #rtt setup 0x20000000 0x8000

    rtt setup 0x20000000 0x8000
    init
    rtt polling_interval 50
    rtt start
    rtt server start 5555 0
}

puts "starting"
init_reset 0
puts "started?"

